.sprite { background-image: url('LavaBase.png'); background-color: transparent; background-repeat: no-repeat; }
.lava-base0000 { width: 164px; height: 114px; background-position: 0px 0px; }
.lava-base0001 { width: 164px; height: 114px; background-position: -164px 0px; }
.lava-base0002 { width: 164px; height: 114px; background-position: -328px 0px; }
.lava-base0003 { width: 164px; height: 114px; background-position: -492px 0px; }
.lava-base0004 { width: 164px; height: 114px; background-position: -656px 0px; }
.lava-base0005 { width: 164px; height: 114px; background-position: -820px 0px; }
.lava-base0006 { width: 164px; height: 114px; background-position: -984px 0px; }
.lava-base0007 { width: 164px; height: 114px; background-position: -1148px 0px; }
.lava-base0008 { width: 164px; height: 114px; background-position: -1312px 0px; }
.lava-base0009 { width: 164px; height: 114px; background-position: -1476px 0px; }
