.sprite { background-image: url('LavaGlow.png'); background-color: transparent; background-repeat: no-repeat; }
.lava-glow0000 { width: 990px; height: 114px; background-position: 0px 0px; }
.lava-glow0001 { width: 990px; height: 114px; background-position: -990px 0px; }
.lava-glow0002 { width: 990px; height: 114px; background-position: -1980px 0px; }
.lava-glow0003 { width: 990px; height: 114px; background-position: -2970px 0px; }
.lava-glow0004 { width: 990px; height: 114px; background-position: -3960px 0px; }
.lava-glow0005 { width: 990px; height: 114px; background-position: -4950px 0px; }
.lava-glow0006 { width: 990px; height: 114px; background-position: -5940px 0px; }
.lava-glow0007 { width: 990px; height: 114px; background-position: -6930px 0px; }
.lava-glow0008 { width: 990px; height: 114px; background-position: -7920px 0px; }
.lava-glow0009 { width: 990px; height: 114px; background-position: -8910px 0px; }
