.sprite { background-image: url('walking-bro--torso-noarm.png'); background-color: transparent; background-repeat: no-repeat; }
.walking-bro--torso-noarm0000 { width: 64px; height: 64px; background-position: 0px -448px; }
.walking-bro--torso-noarm0001 { width: 64px; height: 64px; background-position: 0px -384px; }
.walking-bro--torso-noarm0002 { width: 64px; height: 64px; background-position: 0px -320px; }
.walking-bro--torso-noarm0003 { width: 64px; height: 64px; background-position: 0px -256px; }
.walking-bro--torso-noarm0004 { width: 64px; height: 64px; background-position: 0px -192px; }
.walking-bro--torso-noarm0005 { width: 64px; height: 64px; background-position: 0px -128px; }
.walking-bro--torso-noarm0006 { width: 64px; height: 64px; background-position: 0px -64px; }
.walking-bro--torso-noarm0007 { width: 64px; height: 64px; background-position: 0px 0px; }
