.sprite { background-image: url('Glow.png'); background-color: transparent; background-repeat: no-repeat; }
.lava-glow0000 { width: 10px; height: 114px; background-position: 0px 0px; }
.lava-glow0001 { width: 10px; height: 114px; background-position: -10px 0px; }
.lava-glow0002 { width: 10px; height: 114px; background-position: -20px 0px; }
.lava-glow0003 { width: 10px; height: 114px; background-position: -30px 0px; }
.lava-glow0004 { width: 10px; height: 114px; background-position: -40px 0px; }
.lava-glow0005 { width: 10px; height: 114px; background-position: -50px 0px; }
.lava-glow0006 { width: 10px; height: 114px; background-position: -60px 0px; }
.lava-glow0007 { width: 10px; height: 114px; background-position: -70px 0px; }
.lava-glow0008 { width: 10px; height: 114px; background-position: -80px 0px; }
.lava-glow0009 { width: 10px; height: 114px; background-position: -90px 0px; }
